footer {
    width: 100%;
    padding-top: 90px;
    background: #0f0f1a;
    color: #ffffff;;
    .main {
        display: flex;
        padding-bottom: 90px;
    }
    h3, h4 {
        margin-bottom: 55px;
    }
    h3 {
        margin-left: 15px;
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    h4 {
        font-size: 24px;
        font-weight: 400;
    }
    p {
        line-height: 26px;
        font-size: 15px;
    }
    .title {
        font-size: 16px;
        font-weight: 700;
    }
    .date {
        font-family: 'Open Sans', sans-serif;
    }
    .column {
        margin-right: 35px;
        &:last-of-type {
            margin-right: 0;
        }
    }
    .column1 {
        width: 35%;
    }
    .column2, .column4 {
        width: 20%;
    }
    .column3 {
        width: 25%; 
    }
    .column1 {
        .header-container {
            display: flex;
        }
    }
    .fa-plane {
        float: left;
        margin-right: 10px;
        margin-top: 5px;
        font-size: 25px;
        color: #ea5318;
        transform: rotate(-45deg);
    }
    a {
        text-decoration: none;
        color: white;
        display: flex;
    }
    .fa-angle-right {
        margin: 3px 15px 0 0;
        color: #ea5318;
    }
    ul {
        margin: 0;
        padding: 0;
        li {
            list-style: none;
            padding: 0;
            margin: 15px 0;
        }
    }
    .column3 {
        .text {
            margin: 7px 0;
        }
        .blog1 {
            margin-bottom: 40px;
        }
    }
    .column4 {
        .phone, 
        .email,
        .address,
        .social {
            display: flex;
            margin-bottom: 10px;
        }
        .phone svg,
        .email svg,
        .address svg {
            width: 25px;
            height: 25px;
            margin-right: 15px;
            margin-top: 2px;
        }
        .phone svg {
            -moz-transform: scaleX(-1);
            -o-transform: scaleX(-1);
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
            filter: FlipH;
            -ms-filter: "FlipH";
        }
        .social {
            margin-top: 40px;
        }
        .social svg {
            background-color: #ffffff;
            color: #ea5318;
            margin-right: 12px;
            width: 42px; 
            height: 42px;
            border-radius: 5px;
            padding: 10px;
            &:hover {
                background-color: #ea5318;
                color: #ffffff;
            }
        }
    }
    .footer-bottom {
        background: #050608;
        text-align: center;
        padding: 30px 0;
        p {
            font-size: 16px;
        }
    }
}