nav.headerNav {
    background: black;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    .text {
        position: relative;
        top: 0;
        z-index: 100;
    }
    h1 {
        float: left;
        margin: 0;
        font-weight: 600;
        font-size: 30px;
    }
    .fa-plane {
        float: left;
        margin-right: 10px;
        margin-top: 5px;
        font-size: 25px;
        color: #ea5318;
        transform: rotate(-45deg);
    }
    ul {
        float: right;
        display: flex;
        padding: 8px 0 0 0;
        margin: 0;
        li {
            list-style-type: none;
            padding: 0 20px;
            font-size: 14px;
            position: relative;
            z-index: 20;
            transition: 0.2s;
            &:hover {
                transform: scale(1.5);
                top: 2px;
            }
            // Magnifying Glass
            &:last-of-type {
                padding: 0;
                &:hover {
                    transform: none;
                    top: none;
                }
            }
            a {
                position: relative;
                text-decoration: none;
                color: white;
                &:hover {
                    color: #ea5318;
                }
            }
        }
    }
    .active {
        color: #ea5318;
        font-size: 20px;
        top: -3px;
        outline: 0;
    }

    .fa-search {
        border: 1px solid white;
        border-radius: 50%;
        padding: 7px;
        font-size: 35px;
        margin: -9px 0 0 10px;
        position: relative;
        transition: 0.3s;
        cursor: pointer;
        &:hover {
            color: #ea5318;
            border: 1px solid #ea5318;
        }
    }
    .form-container {
        width: 210px;
        height: 35px;
        position: absolute;
        right: 50px;
        top: -1px;
        overflow: hidden;
    }
    .search-form {
        transition: 0.5s;
        background-color: white;
        position: relative;
        right: -230px;
        input[type=text] {
            border-radius: 10px;
            border: none;
            width: 130px;
            height: 35px;
            padding-left: 10px;
            font-size: 12px;
        }
        input[type=submit] {
            background-color: #ea5318;
            color: white;
            height: 35px;
            border: none;
            width: 80px;
            position: absolute;
        }
    }
    .search-icon {
        transition: 0.5s;
    }
    .search-icon-add-margin {
        margin-left: 220px;
        transition: 0.5s;
    }
    .form-animation {
        transition: 0.5s;
        animation: formAnimation linear 0.5s;
        right: 0px;
    }
    .form-container-animation {
        animation: formContainerAnimation linear 0.5s;
    }

    @keyframes formAnimation {
        90% {
            right: 10px;
        }
        100% {
            right: 0px;
        }
    }

    @keyframes formContainerAnimation {
        90% {
            right: 60px;
        }
        100% {
            right: 50px;
        }
    }

}