section.popular-dest {
    margin-top: 80vh;
    padding: 90px 0;
    background-color: #ffffff;
    width: 100%;
    .heading p {
        margin: 15px 0 55px 0;
        font-family: 'Open Sans' sans-serif;
    }
    .images-container-large {
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
    }
    .images-container-small {
        display: flex;
        margin: 0 auto;
        // Width of each container + 30px margin between each photo - 15px for first and last
        width: 1150px;
        height: 361px;
    }
    
    .image-container {
        margin: 0 15px;
        max-height: 361px;
        max-width: 265px;
        border-radius: 10px;
        position: relative;
        &:first-of-type {
            margin-left: 0;
        }
        &:last-of-type {
            margin-right: 0;
        }
        img {
            display: block;
            border-radius: 10px;
            max-width: 265px;
            height: 100%;
        }
    }

    .image-screen {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 10px;
        background-color: rgba(0,0,0,0.5);
        text-decoration: none;
        text-align: center;
    }
    .image-container:hover > .image-screen {
        display: block;
    }

    h3 {
        color: #ffffff;
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        text-transform: capitalize;
        margin-top: 100px;
    }
    .text {
        font-size: 14px;
        color: #ffffff;
        font-weight: 400;
        width: 225px;
        margin: 10px auto 20px;
        line-height: 24px;
        font-family: 'Open Sans', sans-serif;
    }

    .view-details {
        color: #ffffff;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 400;
    }

}