section.reviews {
    padding: 95px 0 90px;
    background-color: #ffffff;
    width: 100%;
    .heading {
        h2 {
            margin-bottom: 15px;
        }
        p:last-of-type {
            margin-top: 45px;
            line-height: 32px;
        }
    }
    p.italic {
        color: #7f7f7f;
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
    }
    .reviewer-container {
        margin: 35px auto 0;
        width: 300px;
        & img {
            width: 103px;
            height: 103px;
            border-radius: 50%;
            margin-right: 30px;
        }
    }
    .reviewer-container,
    .five-stars {
        display: flex;
    }
    .reviewer-text-container {
        margin-top: 10px;
    }
    .job-title {
        font-size: 14px;
        margin: 5px 0 10px 0;

    }
    svg {
        color: #ea5318;
        margin-right: 3px;
        &:last-of-type {
            margin-right: 0;
        }
    }
    
    
}